canvas {
    border: 1px solid black;
}

.invisible {
    display: none;
}

.face-div {
    margin: 10px;
}

.center-block {
    display: block;
    margin: auto;
}

.face-label {
    padding-right: 10px;
    width: 25%;
    vertical-align: top;
    font: 16px 'Lucida Grande', sans-serif;
}